.post {
  width: 97%;
  border-radius: 10px;
  margin: 3% 1.5%;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 68);
}
.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postUserProfileImage {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUserName {
  display: flex;
  font-size: 15px;
  margin: 0 10px;
  font-weight: 500;
}

.postDatetime {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImage {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.postLikeCounter {
  font-size: 15px;
}
.postBottomRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}
.postHr {
    
}